$theme-colors: (
  "info": $info,
);


body {
    margin: 0;
    padding:0;
    background-image: url('/img/smile.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}   

